[![CI](https://github.com/$GITHUB_REPOSITORY/actions/workflows/check.yml/badge.svg)](https://github.com/$GITHUB_REPOSITORY/actions/workflows/check.yml)
[![Static Badge](https://img.shields.io/badge/Normal_percentage-$count%2F$total-blue)](https://github.com/$GITHUB_REPOSITORY/blob/$GITHUB_REF_NAME/status.csv)
